# GCP Configuration
GCP_PROJECT_ID=your-project-id-here
GOOGLE_APPLICATION_CREDENTIALS=config/service-account.json

# BigQuery Dataset
BQ_DATASET=citibike

# Raw Data Sources
GBFS_STATION_URL=https://gbfs.citibikenyc.com/gbfs/en/station_information.json
TRIP_DATA_URL=https://s3.amazonaws.com/tripdata/
NYC_BOROUGH_BOUNDARY_URL=https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Borough_Boundary/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson